@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@import "./nav.css";
@import "./main-poster.css";
@import "./posters.css";
@import "./galerias.css";

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

main {
  width: 100%;
  margin-left: 70px;
  display: grid;
  grid-template-areas:
    "main-poster"
    "galeriaA"
    "poster1"
    "galeriaB"
    "poster2"
    "galeriaC"
    "poster3";
}

#main-poster {
  grid-area: main-poster;
}
.poster1 {
  grid-area: poster1;
}
.poster2 {
  grid-area: poster2;
}
.poster3 {
  grid-area: poster3;
}

.galeriaA {
  grid-area: galeriaA;
}
.galeriaB {
  grid-area: galeriaB;
}
.galeriaC {
  grid-area: galeriaC;
}

section {
  padding-left: 30px;
  position: relative;
}

img {
  -webkit-user-select: none;
  user-select: none;
}
